/* Umumiy sozlamalar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 1.6;
    background: #2f323f;
}

/* Header */


/* About Me sarlavhasi */
.section-title {
    text-align: center;
    padding: 50px 0;
    background-color: #424761;
}

.section-title h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

/* Kontent */
.article-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 15px;
    background: #373a47;
    border-radius: 10px;
    max-width: 900px;
    margin: 30px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.article-wrapper p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #ddd;
}

/* Rasm joylashuvi */
.figure_wrapper {
    text-align: center;
    margin: 20px 0;
}

.figure_wrapper img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 30px;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

/* Media Queries */
@media (max-width: 750px) {
    .section-title h1 {
        font-size: 2rem;
    }

    .article-wrapper {
        padding: 30px 15px;
    }

    .figure_wrapper img {
        width: 90%;
    }
}
