body {
    font-family: Arial, sans-serif;
}

.header--title {
    background-color: #f8f9fa;
    padding: 10px 0;
}

.logo {
    font-size: 1.5rem;
    color: #000;
}

.section-title {
    text-align: center;
    padding: 40px 0;
    background-color: #f1f1f1;
}

.section-title h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.article-wrapper {
    padding: 40px 0;
}

.figure_wrapper img {
    max-width: 100%;
    border-radius: 8px;
}

figure figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 8px;
}
.img-center {
    text-align: center;
}

.figure_wrapper img {
    max-width: 100%; /* Ensures image resizes based on container size */
    height: auto;
    width: 80%; /* You can adjust this value for desired image size */
    margin: 0 auto; /* Centers the image */
    display: block;
}
